<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h4>
    Welcome to {{ title }}!
  </h4>
</div>

<a routerLink="family">Family</a>  &nbsp; &nbsp;
<a routerLink="directive">Directive & Pipe</a>  &nbsp; &nbsp;
<a routerLink="form">Form</a>  &nbsp; &nbsp;
<a routerLink="task">Task</a>  &nbsp; &nbsp;
<a routerLink="local">Local Service</a>  &nbsp; &nbsp;
<a routerLink="local2">Local Service 2</a>  &nbsp; &nbsp;
<a routerLink="remote">Remote</a>  &nbsp; &nbsp;
<a routerLink="bank">Bank</a>  &nbsp; &nbsp;


<br>
<router-outlet></router-outlet>
